extends layout

block content
	.jumbotron
		.container
			h1 Welcome to Express Website
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae odio ac erat aliquet laoreet. 
			a.btn.btn-primary.btn.lg(href='#') Learn More &raquo;
	.container
		.row
			.col-lg-4
				h2 About Us
				p Vestibulum lectus justo, scelerisque ac ultrices a, euismod ut velit. Sed consectetur interdum libero, vulputate eleifend metus feugiat vel. Cras lacinia posuere malesuada.
				a.btn.btn-default(href='#') View Details
			.col-lg-4
				h2 Latest Offers
				p Vestibulum lectus justo, scelerisque ac ultrices a, euismod ut velit. Sed consectetur interdum libero, vulputate eleifend metus feugiat vel. Cras lacinia posuere malesuada.
				a.btn.btn-default(href='#') View Details
			.col-lg-4
				h2 Subscribe
				p Vestibulum lectus justo, scelerisque ac ultrices a, euismod ut velit. Sed consectetur interdum libero, vulputate eleifend metus feugiat vel. Cras lacinia posuere malesuada.
				a.btn.btn-default(href='#') View Details